{% assign background=0 %}
<div id="pubs">
{%- for pub in pubs: -%}
  <div class="pub" {% unless {{pub.img}} %} style="height: 100px; margin-bottom: -5px" {% endunless %}>    
    
    {% if pub.img %}
    <div class="pub_left_img" style="background-image: url(assets/images/pubs/{{pub.img}})">
    {% if background == 1 %}
    <div class="pub_background">
    <img src=assets/images/pubs/{{pub.img}}>
    </div>
    {% else %}   
    <img class="pub_img" src=assets/images/pubs/{{pub.img}}>
    </div>
    {% endif %}
    {% endif %}
    <div class="pub_right_text" {% unless {{pub.img}} %} style="float:  left; min-width: 600px;" {% endunless %}>
    
      <p style="margin-top: 0;"><a href={{pub.link}}><span>{{pub_num}}. {{pub.title}}</span></a></p>
      {% assign other_author = pub.author | split: author %}
      {% assign year = pub.year | split: "." %}
      <p><span>{{other_author[0]}}</span><b>{{author}}</b><span>{{other_author[1]}}</span><span style="font-style: italic; font-weight: bold;"> {{pub.publisher}}</span><span> {{pub.page}}</span></span><span> ({{year[0]}})</span></p>

      {% if pub.highlight %}
      <p style="font-size: 10px"><a href={{pub.highlight.link}}>Highlighted in <span style="font-style: italic; font-weight: bold;">{{pub.highlight.publisher}} </span>{{pub.highlight.page}} ({{pub.highlight.year}}): {{pub.highlight.title}} </a></p>
      {% endif %}

      {% if pub.selected %}
      <p style="font-size: 10px"><a href={{pub.selected.link}}>Selected as: <span style="font-style: italic; font-weight: bold;">{{pub.selected.description}} </a></span></p>
      {% endif %}
    </div>

  </div>
  {%- assign pub_num = pub_num | minus: 1 -%}
{%- endfor -%}
</div>


<!-- TODO: search for publications display format -->