---
permalink: /pubs
layout: black
title: Publications
---


<p style="color:var(--theme)"> #：corresponding author. </p>
{%- assign all_pubs = site.data.pubs | sort: 'year' -%}
{%- assign pub_num = all_pubs.size -%}
{% assign lab_authors = "R Zhou" %}

{%- assign pubs = all_pubs | where: "type", "2" | sort: 'years' | reverse -%}
<h1>Independent Career: </h1> 
{% include publications/pubs_left.html %}


<h1 style="margin-top: 50px">Prior to Penn State:</h1>
{%- assign pubs = all_pubs | where: "type", "1" | sort: 'years' | reverse -%}
<h2>Selected publications: </h2>
{% include publications/pubs_left.html %}

{%- assign pubs = all_pubs | where: "type", "0" | sort: 'year' | reverse %}
{%- assign pub_num = pubs.size -%}
<h2>Other publications: </h2>
{% include publications/pubs_bottom.html %}