---
permalink: /publications
layout: particles-js
---

{%- assign all_pubs = site.data.pubs | sort: 'year' -%}
{%- assign pub_num = all_pubs.size -%}
{% assign author = "R Zhou" %}

{%- assign pubs = all_pubs | where: "type", "1" | sort: 'years' | reverse -%}
<h2>Selected publications: </h2>
{% include publications/pubs.html %}

{%- assign pubs = all_pubs | where: "type", "0" | sort: 'year' | reverse %}
{%- assign pub_num = pubs.size -%}
<h2>Other publications: </h2>
{% include publications/pubs.html %}

<style type="text/css"></style>

<script type="text/javascript">
    var $tooltip = $('#fullsize');

$('img').on('mouseenter', function() {
    var img = this,
        $img = $(img),
        offset = $img.offset();

    $tooltip
    .css({
        'top': offset.top,
        'left': offset.left
    })
    .append($img.clone())
    .removeClass('hidden');
});

$tooltip.on('mouseleave', function() {
    $tooltip.empty().addClass('hidden');
});</script>