---
title: Team members
lab_name: Zhou Lab @ PSU
layout: cell_bg
permalink: /team
---


<h1>Team</h1>
	{% assign team = site.data.team %}
  {% for position in team %}
    <div id="position">
      <h2>{{ position[0] }}</h2>
      {% assign members = position[1] | sort: 'name' %}
    	{% for member in members %}
	    	<div id="member">
	    		<img class="avatar" src=/assets/images/team/{{member.img}}>
	    		<div id="member-inf">
		      	<h2>{{ member.name }}</h2>
		      	{% assign edus = member.education | split: "/" %}
		      	{%- for edu in edus -%}
		      	<h3>{{edu}}</h3>
		      	{% endfor %}
		      	{% if member.interest %}
		      	<p>Research Interest: {{ member.interest }}</p>
		      	{% endif %}
		      	<p>Email: {{member.email}}</p>
		      </div>
		    </div>
      	{% endfor %}
    </div>
  {% endfor %}