<style type="text/css">
  .hvr-hang: hover{
    background-color: white;
  }
  #nav a::before{
    background: none;
  }
</style>
<div id="nav">
  <ul>
  {% for item in site.data.navigation %}
    <li {% if page.url == item.link %}id="nav-current"{% endif %} {% for sub in item.subs %}
        {% if page.url == sub.link %} id="nav-current" {% endif %}
      {% endfor %}>
    {% if item.subs %}
    <div class="dropdown">
      <a class="hvr-skew"  href="#"> {{item.name}} </a>

      <div class="dropsub">
        {% for sub in item.subs %}
          <a class=hvr-skew href="{{ sub.link }}" > 
            {{ sub.name }}
          </a>
        {% endfor %}
      </div>
    </div>
    {% else%}
    <a class=hvr-skew href="{{ item.link }}" >
      {{ item.name }}
    </a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>

</div>
<!-- TODO: add dropdown symbol here -->
