<!doctype html>
<html {% if page.html_class %} id="{{ page.html_class }}"{% endif %}>
  <head>
    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}


    <meta charset="utf-8">
    {% if page.title %}
    {% assign title_now = page.title | escape %}
    {% else %}
    {% assign title_now = site.title | escape %}
    {% endif %}

    <title>{{ title_now }}</title>
    
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    {% include header.html %}
    {{ content }}
  </body>
  
</html>
<script src="assets/js/three.min.js"></script>
<script src="assets/js/vanta.cells.min.js"></script>
<script>
VANTA.CELLS({
  el: "#cell",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  color1: 0x1da2a2,
  speed: 2.40,
  color2: 0x8510c5
})
</script>
