---
layout: base
---
{% for item in site.data.research %}
  {% if item.link == page.url %}
  {% assign current_res = item %}
  {% endif %}
{% endfor %}

<style type="text/css">
    html{
        background-color: black;
    }
</style>
<div style="display: block;">
<div id="outline-nav">
  {% assign research = "/research" %}
  <h2><a {% if page.url == research %} id="outline-nav-current"{% endif %} href="/research">Projects</a></h2>
  <ul>
  {% for item in site.data.research %}
    <li><a {% if page.url == item.link %} id="outline-nav-current"{% endif %} href=#{{item.link}}>{{item.title}}</a></li>
  {% endfor %}
  </ul>
  
</div>
<div id="r-content">
  {{content}}
  {% if current_res.imgs%}
    {% for img in current_res.imgs%}
    <p>{{img.description}} ↓ </p>
    <img {% if img.width %} style="width: {{img.width}}" {% endif %} src="/assets/images/projs/{{page.url}}/{{img.path}}">
    <p> </p>
    {% endfor %}
  {% endif %}
</div>
</div>